@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg.jpg);
    background-color: rgb(238, 65, 65);
    background-blend-mode:exclusion;
    background-size:cover;
}